<h1>This is {{selectedProject.project}}</h1>

{{>div}}

<p>{{selectedProject.description}}</p>

 <img src="/{{selectedProject.directory}}/screenshot.jpg">
      {{!-- {{#projects}}
    <div>
        <a href="/{{directory}}">
      <img src="/{{directory}}/screenshot.jpg">
      </a>
      <a href="/{{directory}}">
         <p>{{project}}</p>
         <p>{{description}}</p>
         </a>
    </div>
      {{/projects}} --}}



      