<div class="h1Main">
<h1>This is {{selectedProject.project}}</h1>
 </div>


{{>projectList}}

<div id="imgText">
<img id="imgD" src="/{{selectedProject.directory}}/screenshotD.jpg">
<p>{{selectedProject.description}}</p>
</div>
      {{!-- {{#projects}}
    <div>
        <a href="/{{directory}}">
      <img src="/{{directory}}/screenshot.jpg">
      </a>
      <a href="/{{directory}}">
         <p>{{project}}</p>
         <p>{{description}}</p>
         </a>
    </div>
      {{/projects}} --}}



      